#button {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-weight: 500;
  cursor: pointer;
}
#button:disabled {
  opacity: .6;
  cursor: inherit;
}
#button.isIcon {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
#button.isIcon svg {
  color: var(--white);  
}
#button.isNotActive {
  opacity: .7;
}

.primary {
  background-color: var(--blue-500);
  color: var(--white);
}
.primary:hover {
  background-color: var(--blue-400);
}
.primary:focus {
  outline: 2px solid var(--blue-600);
  outline-offset: 1px;
}

.alert {
  background-color: var(--yellow-500);
  color: var(--gray-800);
}
.alert:hover {
  background-color: var(--yellow-300);
}
.alert:focus {
  outline: 2px solid var(--yellow-600);
  outline-offset: 1px;
}

.success {
  background-color: var(--green-500);
  color: var(--white);
}
.success:hover {
  background-color: var(--green-300);
}
.success:focus {
  outline: 2px solid var(--green-600);
  outline-offset: 1px;
}

.danger {
  background-color: var(--red-500);  
  color: var(--white);
}
.danger:hover {
  background-color: var(--red-300);
}
.danger:focus {
  outline: 2px solid var(--red-600);
  outline-offset: 1px;
}


.normal {
  background-color: var(--gray-500);
  color: var(--gray-900);
}
.normal:hover {
  background-color: var(--gray-400);
}
.normal:focus {
  outline: 2px solid var(--gray-600);
  outline-offset: 1px;
}
