#cardSummaryMethodPayment {
  max-width: 130px;
  width: 100%;
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid var(--green-500);
  background-color: var(--green-neon);
  display: flex;
  color: var(--green-800);
  flex-direction: column;
  justify-content: space-between;
}
#cardSummaryMethodPayment .total {
  font-size: 1.1rem;
  font-weight: 500;
}
#cardSummaryMethodPayment .total {
  color: var(--green-700);
}
#cardSummaryMethodPayment .isInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cardSummaryMethodPayment .isInput svg {
  color: var(--green-600);
}