#cardSummaryTransaction {
  max-width: 210px;
  width: 100%;
  height: 120px;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--gray-600);
  background-color: var(--gray-neon);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cardSummaryTransaction.input {
  border: 1px solid var(--green-500);
  background-color: var(--green-neon);
}
#cardSummaryTransaction.output {
  border: 1px solid var(--red-500);
  background-color: var(--red-neon);
}
#cardSummaryTransaction.transactions {
  border: 1px solid var(--blue-500);
  background-color: var(--blue-neon);
}
#cardSummaryTransaction .total {
  font-size: 1.5rem;
  font-weight: 400;
}
#cardSummaryTransaction.input .total {
  color: var(--green-700);
}
#cardSummaryTransaction.output .total {
  color: var(--red-800);
}
#cardSummaryTransaction.transactions .total {
  color: var(--blue-800);
}
#cardSummaryTransaction .isInput {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
}
#cardSummaryTransaction.input .isInput svg {
  color: var(--green-500);
}
#cardSummaryTransaction.total .isInput svg {
  color: var(--gray-700);
}
#cardSummaryTransaction.output .isInput svg {
  color: var(--red-500);
}
#cardSummaryTransaction.transactions .isInput svg {
  color: var(--blue-600);
}
#cardSummaryTransaction .contentTotal {
  display: flex;
  flex-direction: column;
}